@import '../fonts.css';
@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@import '../theme.ds.css';
@import '../ui.css';

@source '../';

html,
body {
  min-height: 100%;
  background-color: var(--color-ds-surface-primary);
  color: var(--color-ds-text-primary);
}
