@import './fonts.css';
@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@import './theme.ds.css';
@import './ui.css';

@source './';
@source '../.storybook';

body {
  background-color: var(--color-ds-surface-primary);
  color: var(--color-ds-text-primary);
  font-family: var(--font-ds-text);
}

html,
body {
  height: auto !important;
  overflow: visible !important;
}

body.sb-show-main.sb-main-centered {
  align-items: safe center;
}

body.sb-show-main.sb-main-centered #storybook-root {
  max-height: none;
}
